{% extends '/layout/base.html.twig' %}
{% block body %}
    <div class="col-md-12 mx-5 mt-3">
    <h1 class="h3">Register RP</h1>
            {{ form_start(registrationForm) }}
        <div class="row">
        <div class=" col-md-4">
              {{ form_row(registrationForm.email, {attr:{'class':'form-control'}},{label:'email'}) }}
      </div>
      <div class="col-md-4">
          {{ form_row(registrationForm.nomComplet, {attr:{'class':'form-control'}}, {
                  label: 'mot de passe '
              }) }}
      </div>
  </div>
        <div class="row">
            <div class="col-md-4">
                    {{ form_row(registrationForm.password, {attr:{'class':'form-control'}})}}
            </div>
            <div class="col-md-4">
                {{ form_row(registrationForm.confirmPassword, {attr:{'class':'form-control'}},{label:'confirmer votre mot de pass'})}}
            </div>
        </div>
          <button class="btn btn-primary col-md-8 mt-5">Register</button>
          {{ form_end(registrationForm) }}
    </div>
{% endblock %}
